<% @posts.each do |post| %>
    <p class="float-right">
      Posted by:
      <%= show_author_if_logged_in(post) %>
    </p>
    <h4 class="float-left"><%=post.title %></h4>
    <p class="clear"><%= post.body %></p>
    <%=  %>
    <p>
    <%= show_edit_post(post) %>
    <%= show_destroy_post(post) %>
    </p>

<% end %>


